* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}


/* GENERIQUE */
body {
    position: relative;
    /* margin: 25px auto; */
    width: 100vw; 
    height: 100%;
    font-size: 1.2rem;
}

main {
  width: 90%;
  max-width: 100vw;
  overflow: hidden;
  margin: auto;
  padding: 20px 10px;
  overflow: hidden;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
  font-size: 2.1rem;
	color: maroon;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.6rem;
	color: rgb(109, 5, 102);
  margin-bottom: 5px;
}

h3 {
  font-size: 1.1rem;
  color: rgb(7, 18, 143);
}

a {
	color: rgb(109, 5, 102);
  text-decoration: none;
  font-size: 1rem;
}

a:hover {
  color: #220687;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}


.wrap {
  flex-wrap: wrap;
}


.reverse {
  flex-wrap: wrap-reverse;
}

.hidden {   
  visibility: hidden;  
  opacity: 0;  
  display: none;
  transition: .3s ease-in-out;
}

.none {
  display: none;
  visibility: hidden;  
  opacity: 0;  
  width: 0;
  height: 0;
}

.center {
  text-align: center;
  justify-content: center;
}

/*  --- HEADER ---  */
header {
  background-color: #ffffffdc;
  position: sticky;
  height: 80px;  
  z-index: 99;
  top: 0;
  margin: 25px auto;
  box-shadow: 0px 5px 6px #27187e57;
  justify-content: space-around;
}

header #container_header {
  justify-content: right;
  margin: 5px;
  width: 90%;
}

header #logo {
  position: absolute;
  width: 200px;
  height: 80px;
  top: -10px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

header:hover #logo {
	transform: translatey(0px);
	animation: logofloat 4s ease-in-out infinite;
}


@keyframes logofloat {
  0% {
		transform: translateY(0px);
	}
	20% {
		transform: translateY(-8px);
	}
  80% {
		transform: translateY(8px);
	}
	100% {
		transform: translateY(0px);
	}
}

header img {
  width: 120px;
  height: auto;  
}

header input {
  border: none;
  padding: 12px;
}

header input:hover,
header input:focus {
  background: #063e8727;
}

header form {
  position: relative;
}

header label {
  position: absolute;
  /* border: 1px solid #220687; */
  /* border-right: 1px solid #220687; */
  /* background-color: white; */
  border-radius: 30px 0 0 30px;
  padding: 12px 16px;
  top: 2px;
  right: 0;
}

header label i {
  color: #220687;
}

header input[type='text'] {
  border: 1px solid #22068743;
  border-radius: 30px;
  margin-left: 0;
  max-width: 280px;
  font-size: 1.2rem;
  padding-right: 45px;
}

header input[type='text']:focus {  
  border: 1px solid #220687;
  border-left: 1px solid transparent;
}

/* Effet d'un point qui défille sur le séparateur du Header */
header.site-header::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: -8px;
  z-index: 99;
  background: #f1f2f680;
  animation: moving 6s infinite linear;
  animation-direction: alternate;
}

@keyframes moving {
  0% {
    opacity: 0.13;
    left: 2%;
  }
  10% {
    opacity: 1;
    left: 10%;
  }
  90% {
    opacity: 1;
    left: 90%;
  }
  100% {
    opacity: 0.13;
    left: 100%;
  }
}

/* MAIN */

.filter-area {
  /* justify-content: space-between;  */
  width: 80%;
  min-width: 125px;
  max-width: 1150px;
  margin: auto;
  overflow: hidden;
}

.filter-area form {
  flex-wrap: nowrap;
  padding: 20px;
}    
  
.filter-area #filtre_author,
.filter-area #filtre_editor  {
  width: 380px;
  justify-content: center;
} 

.filter-area option {    
  font-size: 1rem;
  font-weight: 400;
}

.filter-area label {    
  font-size: 18px;
  font-weight: 700;
  padding: 0 5px;
  color: #220687;
}

.filter-area select {
  height: auto;
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: white;
  /* border: 1px solid #220687; */
  border: 0px;
  border-bottom: 1px solid #220687;
  color: #220687;
  /* border-radius: 0 30px 30px 0; */
}


.book {
  position: relative;
  width: 400px;
  height: auto;
  min-height: 10px;
  border: 1px solid rgba(156, 155, 155, 0.269);
  border-radius: 10px;
  margin: 15px;
  padding: 15px;  
  transition: 0.3s;
  box-shadow: 6px 5px 5px 0px rgba(166, 166, 166, 0.75);
  -webkit-box-shadow: 6px 5px 5px 0px rgba(166, 166, 166, 0.75);
  -moz-box-shadow: 6px 5px 5px 0px rgba(166, 166, 166, 0.75);
}

.book:hover {
  box-shadow: 0px 0px 5px 0px transparent;
  -webkit-box-shadow: 0px 0px 5px 0px transparent;
  -moz-box-shadow: 0px 0px 5px 0px transparent;
}

.book img {
  width: 80%; 
  max-height: 450px;
  padding: 10px;
  transition: .3s ease-in-out;
}

.book img:hover {
  -webkit-transform:scale(1.5); /* Safari et Chrome */
  -moz-transform:scale(1.5); /* Firefox */
  -ms-transform:scale(1.5); /* Internet Explorer 9 */
  -o-transform:scale(1.5); /* Opera */
  transform:scale(1.5);
}

.nbBook,
.noBook {   
  font-size: 1.5rem;
  font-weight: 400;
  padding: 5px 0 10px;
}

.nbBook {
  color: rgb(7, 18, 143);
}

.noBook {  
  color: rgb(171, 7, 7);
}

.nbBook span {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(0, 145, 255);
}

/* FOOTER */
footer {
  width: 100%;
  height: auto;  
  margin-top: 20px;
  padding: 20px;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFf;
  text-align: center;
  font-size: 18px;
  box-shadow: 0px -5px 16px #27187e57;
}

footer p {
  width: 80%;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding-bottom: 10px;
}

footer a {
  font-weight: 900;
  color: #FF8600;  
}

/*  **********************************  */
/*    Media query : max-width: 768px    */
/*  **********************************  */
@media screen and (max-width: 768px) { 
  h1 {  
    font-size: 2.0rem;
    line-height: 2.2rem;
  }

  header input[type='text'] {
    font-size: 1rem;
  }

  footer {
    flex-direction: column;
    gap: 5px    
  }
  
  footer p {
    flex-wrap: wrap;
  }
}

/*  **********************************  */
/*    Media query : max-width: 640px    */
/*  **********************************  */
@media (max-width: 640px) { 
  .filter_research {
    visibility: hidden;  
    opacity: 0;  
    display: none;
  } 

  footer a {
    color: rgb(144, 0, 255);
  }
}