* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

body {
    position: relative;
    margin: 25px auto;
    width: 100vw;
    height: 100%;
}

.relative {
    position: relative;
  }
  
.absolute {
    position: absolute;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
}


.wrap {
    flex-wrap: wrap;
  }
  

.reverse {
    flex-wrap: wrap-reverse;
  }
  
.hidden {   
    visibility: hidden;  
    opacity: 0;  
    display: none;
    transition: .3s ease-in-out;
  }
  
.none {
    display: none;
    visibility: hidden;  
    opacity: 0;  
    width: 0;
    height: 0;
  }

.center {
    text-align: center;
    justify-content: center;
  }

h1, h2, h3 {
    text-align: center;
}

h1 {
  font-size: 2.1rem;
	color: maroon;	
  margin-bottom: 15px;
}

h2 {
  font-size: 1.6rem;
	color: rgb(109, 5, 102);
  margin-bottom: 5px;
}

h3 {
  font-size: 1.1rem;
  color: rgb(7, 18, 143);

}

.filter-area {
  /* justify-content: space-between;  */
  width: 80%;
  min-width: 125px;
  max-width: 1150px;
  margin: auto;
  overflow: hidden;
}

.filter-area form {
  flex-wrap: nowrap;
  padding: 20px;
}    
  
.filter-area #filtre_author,
.filter-area #filtre_editor  {
  width: 380px;
  justify-content: center;
} 

.filter-area option {    
  font-size: 1rem;
  font-weight: 400;
}

.filter-area label {    
  font-size: 18px;
  font-weight: 700;
  padding: 0 5px;
}

.filter-area select {
  height: auto;
  padding: 5px 10px;
  text-transform: uppercase;
}


.book {
  position: relative;
  width: 400px;
  height: auto;
  min-height: 10px;
  border: 1px solid rgba(156, 155, 155, 0.269);
  border-radius: 10px;
  margin: 15px;
  padding: 15px;  
  transition: 0.3s;
  box-shadow: 6px 5px 5px 0px rgba(166, 166, 166, 0.75);
  -webkit-box-shadow: 6px 5px 5px 0px rgba(166, 166, 166, 0.75);
  -moz-box-shadow: 6px 5px 5px 0px rgba(166, 166, 166, 0.75);
}

.book:hover {
  box-shadow: 0px 0px 5px 0px transparent;
  -webkit-box-shadow: 0px 0px 5px 0px transparent;
  -moz-box-shadow: 0px 0px 5px 0px transparent;
}

.book img {
  width: 80%;
  max-height: 450px;
  padding: 10px;
}

.book .image1,
.book .image2 {
  transition: .3s ease-in-out;
}

.book .image2 {
  opacity: 0; 
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);  
}

.nbBook,
.noBook {   
  font-size: 1.5rem;
  font-weight: 400;
  padding: 5px 0 10px;
}

.nbBook {
  color: rgb(7, 18, 143);
}

.noBook {  
  color: rgb(171, 7, 7);
}

.nbBook span {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(0, 145, 255);
}

