* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

body {
    position: relative;
    margin: 25px auto;
    width: 100vw;
    height: 100%;
}

.relative {
    position: relative;
  }
  
.absolute {
    position: absolute;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
}


.wrap {
    flex-wrap: wrap;
  }
  

.reverse {
    flex-wrap: wrap-reverse;
  }
  
.hidden {   
    visibility: hidden;  
    opacity: 0;  
    display: none;
      transition: .3s ease-in-out;
  }
  
.none {
    display: none;
    visibility: hidden;  
    opacity: 0;  
    width: 0;
    height: 0;
  }

.center {
    text-align: center;
    justify-content: center;
  }

h1, h2, h3 {
    text-align: center;
}

h1 {
	color: maroon;	
  margin-bottom: 15px;
}

h2 {
	color: rgb(111, 7, 143);
    margin-bottom: 5px;
}

.book {
  width: 400px;
  height: auto;
  min-height: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;  
  transition: 0.3s;
  box-shadow: 6px 5px 5px 0px rgba(166, 166, 166, 0.75);
  -webkit-box-shadow: 6px 5px 5px 0px rgba(166, 166, 166, 0.75);
  -moz-box-shadow: 6px 5px 5px 0px rgba(166, 166, 166, 0.75);
}

.book:hover {
  box-shadow: 0px 0px 5px 0px transparent;
  -webkit-box-shadow: 0px 0px 5px 0px transparent;
  -moz-box-shadow: 0px 0px 5px 0px transparent;
}

.book img {
  width: 80%;
  max-height: 450px;
  padding: 10px;
}

